{% extends "base.html" %}
{% block start %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container" mt-5>
  <form class="col-6 mx-auto card p-3 shadow-lg mt-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe name</label>
          <input name="receipe_name" required type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"   required class="form-label">Receipe description</label>
          <textarea class="form-control"  name = "receipe_description"  required></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Receipe image</label>
          <input type="file" name = "receipe_image"  class="form-control">
        </div>
           <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>
      <hr>
        <div class=" mx-auto col-6 input-group">
          <form class="input-group">
            <label for="exampleInputEmail1" class="form-label" ></label>
            <input name="search" type="text" class="form-control" placeholder="Search food">
            <button type="submit" class="btn btn-outline-primary">
              <i class="fa fa-search" arie-hidden="true"></i>
            </button>
          </form>
        </div>
        
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">SI.no</th>
            <th scope="col">Receipes name</th>
            <th scope="col">Receipes Disc</th>
            <th scope="col">image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
              <img src="/media/{{receipe.receipe_image}}" style="height: 250px" width="250px" ></td>
            <td>
              <a href="/delete_receipe/{{receipe.id}}/"class="btn btn-danger mt-5 ">Delete</a>
              <a href="/update_receipe/{{receipe.id}}/"class="btn btn-success mt-5 ">Update</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>    
{% endblock %}